
.flex-container {
display: flex;
justify-content: center;
flex-direction: column;
padding-left: 20%;
padding-right: 20%;
}
body {
	font-family: verdana, arial, helvetica, sans-serif;
	color: #ccc;
	background-color: #333;
	}
	
header{
	 text-align: center;
	 text-decoration: underline; 
	 font-family:arial;
	 font-size: 50px
}

.flex-container2{
	display: flex;
	 border-style: solid;
  	border-width: 3px;
  	margin: 5px 5px 20px 5px;
} 

.text{
	display: flex;
	justify-content: left;
	padding-right: 30%;
	margin: 20px 20px 20px 20px;

}

.image{
	display: flex;
	justify-content: right;

}

.zdj{
	margin: 5px 5px 5px 5px;
}
img{
	width: 200px;
	height: 300px;
}